.action {
    background-color: #2E2F42;
    color: #ffffff;
    text-align: center;
    width: 100%;
    height: 600px;
}

.action h1 {
    font-weight: bold;
    font-size: 56px;
}

.action button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    text-align: center;
    width: 169px;
    height: 56px;
}
