:root {
    --main-text-color: #2E2F42;
    --iris-color: #4D5AE5;
    --navy-blue-color: #2E2F42;
    --cloud-color: #F4F4FD;
    --white-color: #FFFFFF;
    --ocean-color: #404BBF;
    --cornflower-color: #E7E9FC; 
    --contact-color: #434455;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--contact-color);
    background-color: var(--white-color);
}

.filter-button:hover, .filter-button:focus {
    color: var(--white-color);
    background-color: var(--ocean-color);
}

.filter-button {
    color: var(--iris-color);
    background-color: var(--cloud-color);
    border: 1px solid var(--cloud-color);
    margin-right: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.list-link link {
    color: var(--ocean-color);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.first-link {
    color: var(--contact-color);
}

.list-link:hover, .list-link:focus {
    color: var(--ocean-color);
}

.logo {
    color: var(--iris-color);
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.link {
    text-decoration: none;
}

.list {
  list-style: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-link {
    color: var(--contact-color);
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-link:hover, .contact-link:focus {
    color: var(--ocean-color);
}

.logo span {
    color: var(--navy-blue-color);
}

.list a {
    color: var(--navy-blue-color);
    text-decoration: none;
}

 .info-class {
    font-style: normal;
 }

 .list a {
    color: var(--main-text-color);
    text-decoration: none;
    font-style: normal;
}

.action {
    background-color: var(--navy-blue-color); 

}
.order-service {
    background-color: var(--iris-color);
    color: var(--white-color);
    font-family: "Roboto", sans-serif;
     font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.order-service:hover, .order-service:focus {
    background-color: var(--ocean-color);

}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
}

.item-title {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--main-text-color);
}

.list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.people {
    background-color: var(--cloud-color);
}

.people-item {
    background-color: var(--white-color);

}

.block-title {
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue-color);
}

.action h1 {
    color: var(--white-color);
}

.footer {
    background-color: var(--navy-blue-color); 
}

.footer {
    color: var(--cloud-color);
}

.footer .logo span {
    color: var(--cloud-color);
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}